<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ title|default('Teddy Grandsire') }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('build/website.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('build/prism.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('build/particles.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <script src="{{ asset('build/particles.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/prism.js') }}"></script>
            <script src="{{ asset('build/particles.js') }}"></script>
        {% endblock %}
    </body>
</html>
